body {
  font-size: 16px !important;
}

/* Toolbar / Nav  */
#toolbar {
  background-color: #fff;
  color: #000;
}
#toolbar .nav-branding {
  margin-right: 64px;
}
#toolbar .nav-button {
  color: #000;
  font-weight: 400;
  cursor: pointer;
  text-transform: none;
  border-radius: 0;
  margin: 0;
  height: 100%;
  line-height: 64px;
}
#toolbar .nav-active {
  font-weight: 500;
  background-color: transparent;
  border-bottom: 4px solid #88a13e;
}
#sidenav .nav-button {
  color: #000;
  font-weight: 400;
  cursor: pointer;
  text-transform: none;
  text-align: left;
  border-radius: 0;
  margin: 0;
  height: 100%;
  width :100%;
  line-height: 64px;
  font-size: 16px;
  padding-left: 32px;
}
#sidenav .nav-active-mobile {
  font-weight: 500;
  border-left: 8px solid #88a13e;
}

/* Index */
#hero {
  background-color: #88a13e;
  height: 448px;
 }
 #hero h1,
 #hero h2 {
   color: #fff;
   margin: 0;
 }
 #hero h1 {
   font-weight: 500;
   font-size: 72px;
   text-align: center;
 }
 #hero h2 {
   margin-top: 32px;
   font-weight: 300;
   font-size: 36px;
   text-align: center;
 }

/* Section */
section {
  padding: 64px 16px;
  max-width: 968px;
  margin: 0 auto;
}
.heading1,
.heading2 {
  text-align: center;
}
.heading1 {
  font-weight: 300;
  color: #000;
  font-size: 44px;
  margin: 0;
}
.heading2 {
  font-weight: 400;
  color: #9B9B9B;
  font-size: 16px;
  margin-top: 24px;
}
section md-content + md-content {
  padding-top: 64px;
}

 /* Promo Slider */
 #promo-slider {
   overflow: hidden !important;
   min-height: 432px;
 }
 #promo-slider-slider {
  border: 0;
  margin: 0;
  min-height: 432px !important;
}
#promo-slider-slider .flex-viewport,
#promo-slider-slider .slides {
  min-height: 432px !important;
}
#promo-slider-slider .slides img {
  min-height: 432px;
  max-height: 632px;
  object-fit: cover;
}
.promo-content {
  position: absolute;
  color: #fff;
  text-shadow: 0px 2px 4px #000;
  top: 0;
  min-height: 432px !important;
  margin: 64px 0 0 196px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 768px) {
  .promo-content {
    margin: 32px 0 0 64px;
    width: 312px;
  }
}

.promo-content h5 {
  font-weight: 200;
  font-size: 36px;
}

.promo-content p {
  margin: 16px 0 0 0;
  font-weight: 200;
  font-size: 20px;
  max-width: 412px;
}

#promo-slider-slider .flex-control-nav {
  bottom: 64px;
  left: 196px;
  text-align: left;
}

#promo-slider-slider ol li a {
  background-color: #908E8E;
  box-shadow: 0px 0px 2px #fff;
}
#promo-slider-slider ol li a.flex-active {
  background-color: #88A13E;
}

#promo-slider-slider .flex-prev::before,
#promo-slider-slider .flex-next::before {
  color: #fff;
  font-size: 32px;
}

/* Card */
.hoverable {
  transition: all 0.2s linear;
  cursor: pointer;
}
.hoverable:hover {
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.004);
          transform: scale(1.004);
}

/* Register Interest */
#registerForm {
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
}
label {
}
.md-input {
}

/* Common Colors */
.about-background,
.services-background,
.products-background,
.login-background,
.add-products-background {
  height: 300px;
}
.about-background h1,
.services-background h1,
.products-background h1,
.login-background h1,
.add-products-background h1,
.about-background h2,
.services-background h2,
.products-background h2,
.login-background h2,
.add-products-background h2 {
  color: #fff;
  margin: 0;
}
.about-background h1,
.services-background h1,
.products-background h1,
.login-background h1,
.add-products-background h1 {
  line-height: 300px;
  font-weight: 500;
  font-size: 72px;
  text-align: center;
}
.about-background {
  background-color: #5EB9C4;
}
.services-background {
  background-color: #E08E45;
}
.products-background {
  background-color: #FF4158;
}
.login-background {
  background-color: #5EB9C4;
}
.add-products-background {
  background-color: #5EB9C4;
}
.heather-background,
.heather-background md-content {
  background-color: #F5FCDF;
}
.services-classes-background,
.services-classes-background md-content {
  background-color: #EEEFF4;
}
.services-presentation-background,
.services-presentation-background md-content {
  background-color: #5EB9C4;
  color: #fff;
}
.services-presentation-background .heading1 {
  color: #fff;
}
.services-presentation-background .heading2 {
  color: #ddd;
}
/* Forms */
.btn-submit {
  height: 64px;
  background-color: #88a13e !important;
  color: #fff !important;
}

/* Classes */
section.slider {
  max-width: 1428px;
}
.walk-class {
  max-height: 698px;
  max-width: 480px !important;
}
.walk-class img {
  height: 280px;
  object-fit: cover;
}
.class-btn {
  height: 64px;
}
.class-btn.active,
.class-btn:hover.active {
  background-color: blue;
}

#attendees-container {
  max-height: 300px;
  overflow-y: auto;
}


/*7 to 8 */
/*PointerWater Golf Course*/
