<script async type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

<div class="viewProduct-cmp">

  <md-content class="hero md-padding" layout="row" layout-align="start center">
    <span class="breadcrumb" flex><a ui-sref="^">All Products</a>  /  {{vm.product.name}}</span>
  </md-content>

  <md-progress-linear ng-show="vm.saving" md-mode="indeterminate"></md-progress-linear>
  <md-content ng-show="vm.loading" layout="column" layout-align="start center">
    <md-progress-circularmd-mode="indeterminate" md-diameter="100"></md-progress-circular>
    Loading Product...
  </md-content>

  <md-content class="product-container md-padding" layout="row" layout-xs="column">
    <!-- Product Image -->
    <md-content flex="40" flex-xs="100" layout="column">

      <div class="product-image" layout="column" layout-align="start center">
        <div class="image-hover" ng-if="main.auth.isAuthenticated()" layout="column" layout-align="start center">
          <div layout="row" layout-fill layout-align="center center" class="overlay-action">
            <div class="upload">
              <span class="upload-title">UPLOAD</span>
              <md-icon>photo_camera</md-icon>
            </div>
            <input class="picker" type="filepicker" data-fp-apikey="AuBOzXm5MRyZQEErCSWL6z" ng-model="vm.value" ng-change="vm.filePicked()" />
          </div>
        </div>
        <img ng-src="{{vm.product.imageUrl}}" alt="{{vm.product.name}}">
        <div class="product-price-overlay">{{vm.product.price | currency}}</div>
      </div>
      <md-content layout="column" flex>
        <br>
        <div class="product-order-label">Order Options </div>
        <div class="product-order-buttons" layout="column">
          <md-button class="order-email" ng-click="vm.orderEmail($event)">Email Heather</md-button>
          <md-button class="order-call md-primary" ng-click="vm.orderCall($event)">Call Heather</md-button>
          <span flex></span>
          <md-button class="preview" ng-if="main.auth.isAuthenticated()" ng-click="vm.authOverride = !vm.authOverride">{{vm.authOverride ? 'Hide Preview' : 'Show Preview'}}</md-button>
          <md-button class="save" ng-if="main.auth.isAuthenticated()">Save Change</md-button>
        </div>
      </md-content>

    </md-content>

    <!-- Product Content -->
    <md-content flex class="product-content md-padding">

        <md-content layout="column" ng-if="!main.auth.isAuthenticated() || vm.authOverride">
          <!-- Read -->
          <div class="product-name">{{vm.product.name}}</div>
          <div class="product-brand">{{vm.product.brand}}</div>
          <br>
          <br>
          <div ng-bind-html="vm.product.description">
          </div>

        </md-content>

        <!-- Write -->
        <form name="editProductForm" ng-if="!vm.authOverride && main.auth.isAuthenticated()" layout="column">
          <!-- Name -->
          <md-input-container flex md-is-error="editProductForm.name.$invalid && (editProductForm.$submitted || editProductForm.name.$dirty)">
            <label>Name</label>
            <input name="name" type="text" ng-model="vm.product.name" ng-required="true">
            <div ng-messages="editProductForm.name.$error" ng-if="editProductForm.$submitted || editProductForm.name.$touched">
              <div ng-message="required">You must enter a name</div>
            </div>
          </md-input-container>

          <!-- Brand -->
          <md-input-container flex md-is-error="editProductForm.brand.$invalid && (editProductForm.$submitted || editProductForm.brand.$dirty)">
            <label>Brand</label>
            <input name="brand" type="text" ng-model="vm.product.brand" ng-required="true">
            <div ng-messages="editProductForm.brand.$error" ng-if="editProductForm.$submitted || editProductForm.brand.$touched">
              <div ng-message="required">You must enter a brand name</div>
            </div>
          </md-input-container>

          <!-- Price -->
          <md-input-container flex md-is-error="editProductForm.price.$invalid && (editProductForm.$submitted || editProductForm.price.$dirty)">
            <label>Price</label>
            <input name="price" type="text" ng-model="vm.product.price" ng-required="true">
            <div ng-messages="editProductForm.price.$error" ng-if="editProductForm.$submitted || editProductForm.price.$touched">
              <div ng-message="required">You must enter a price</div>
            </div>
          </md-input-container>

          <!-- Description -->
          <label>Description</label>
          <md-input-container flex md-is-error="editProductForm.description.$invalid && (editProductForm.$submitted || editProductForm.description.$dirty)">
            <text-angular ng-model="vm.product.description"></text-angular>
            <!-- <textarea name="description" ng-model="vm.product.description" ng-required="true"></textarea> -->
            <div ng-messages="editProductForm.description.$error" ng-if="editProductForm.$submitted || editProductForm.description.$touched">
              <div ng-message="required">You must enter a description</div>
            </div>
          </md-input-container>
        </form>

    </md-content>
  </md-content>

</div>
