<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularApp" flex>
    <base href="/">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--  Nav -->
    <md-toolbar id="toolbar" layout="row" layout-align="start center" ng-controller="ToolbarCtrl" class="md-whiteframe-z2">
      <!--The left side-->
      <div class="md-toolbar-tools">
        <md-button hide-gt-md class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
          <ng-md-icon icon="menu" style="fill: #000;"></ng-md-icon>
        </md-button>
        <!-- <h2>
          <span>The Heading</span>
        </h2> -->
        <div class="nav-branding">
          <img src="images/enw_logo.svg" alt="Essential Nordic Walking">
        </div>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="home" aria-label="Home">Home</md-button>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="about" aria-label="About">About</md-button>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="services" aria-label="Services">Services</md-button>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="products" aria-label="Products">Products</md-button>
          <md-button hide-sm hide-md class="nav-button" ng-href="http://www.mynordicsports.com.au/index.php/faq/" aria-label="FAQ">FAQs</md-button>
          <span flex hide-sm hide-md></span>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="login" aria-label="Login">Login</md-button>
      </div>
    </md-toolbar>
<!--
    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                <li ui-sref-active="active"><a ui-sref="services">Services</a></li>
                <li ui-sref-active="active"><a ui-sref="products">Products</a></li>
                <li><a href="http://www.mynordicsports.com.au/index.php/faq/">FAQs</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="#">Login</a></li> -->

    <div hide-gt-md ng-controller="MenuCtrl">
      <md-sidenav id="sidenav" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav">
        <md-toolbar>
          <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
         <!-- <md-item ng-repeat="item in menu">
           <a>
             <md-item-content md-ink-ripple layout="row" layout-align="start center">
               <div class="inset">
                 <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
               </div>
               <div class="inset">{{item.title}}
               </div>
             </md-item-content>
           </a>
         </md-item> -->

         <md-list layout="column" md-padding>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="home" aria-label="Home" ng-click="close()">
                Home
              </md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="about" aria-label="About" ng-click="close()">About</md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="services" aria-label="Services" ng-click="close()">Services</md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="products" aria-label="Products" ng-click="close()">
                Products
              </md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ng-href="http://www.mynordicsports.com.au/index.php/faq/" aria-label="FAQs">
                FAQs
              </md-button>
           </md-item>
           <md-divider></md-divider>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="login" aria-label="Login" ng-click="close()">
                Login
              </md-button>
           </md-item>
         </md-list>

      </md-sidenav>
    </div>

      <md-content flex ui-view></md-content>
      <!-- Footer -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/services.js"></script>
        <!-- <script src="scripts/controllers/about.js"></script> -->
        <script src="scripts/controllers/products.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->
</body>
</html>
