<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Essential Nordic Walking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  </head>
  <body ng-cloak  ng-app="angularApp" flex>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--  Nav -->
    <md-toolbar id="toolbar" layout="row" layout-align="start center" ng-controller="ToolbarCtrl" class="md-whiteframe-z2">
      <!--The left side-->
      <div class="md-toolbar-tools">
        <md-button hide-gt-md class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
          <ng-md-icon icon="menu" style="fill: #000;"></ng-md-icon>
        </md-button>
        <div class="nav-branding">
          <img src="images/enw_logo.svg" alt="Essential Nordic Walking">
        </div>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="home" aria-label="Home">Home</md-button>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="about" aria-label="About">About</md-button>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="services" aria-label="Services">Services</md-button>
          <md-button hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="products" aria-label="Products">Products</md-button>
          <md-button hide-sm hide-md class="nav-button" ng-href="http://www.mynordicsports.com.au/index.php/faq/" aria-label="FAQ">FAQs</md-button>
          <md-button ng-show="auth" hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="add-products" aria-label="Add Products">Add Products</md-button>
          <!-- Login Toolbar Button -->
          <span flex hide-sm hide-md></span>
          <md-button ng-show="!auth" hide-sm hide-md class="nav-button" ui-sref-active="nav-active" ui-sref="login" aria-label="Login">Login</md-button>
          <md-button ng-show="auth" hide-sm hide-md class="nav-button" aria-label="Login" ng-click="logout()">Logout</md-button>
      </div>
    </md-toolbar>

    <div hide-gt-md ng-controller="MenuCtrl" >
      <md-sidenav id="sidenav" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav">
        <md-toolbar>
          <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
         <md-list layout="column" md-padding>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="home" aria-label="Home" ng-click="close()">
                Home
              </md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="about" aria-label="About" ng-click="close()">About</md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="services" aria-label="Services" ng-click="close()">Services</md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="products" aria-label="Products" ng-click="close()">
                Products
              </md-button>
           </md-item>
           <md-item>
              <md-button class="nav-button" ng-href="http://www.mynordicsports.com.au/index.php/faq/" aria-label="FAQs">
                FAQs
              </md-button>
           </md-item>

           <!-- Login Button -->
           <md-divider></md-divider>
           <md-item ng-show="auth">
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="add-products" aria-label="Add Products" ng-click="close()">
                Add Products
              </md-button>
           </md-item>
           <md-item ng-show="!auth">
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" ui-sref="login" aria-label="Login" ng-click="close()">
                Login
              </md-button>
           </md-item>
           <md-item ng-show="auth">
              <md-button class="nav-button" ui-sref-active="nav-active-mobile" aria-label="Logout" ng-click="logout()">
                Logout
              </md-button>
           </md-item>
         </md-list>

      </md-sidenav>
    </div>

    <md-content flex ui-view></md-content>

    <footer class="footer" layout-padding>
        <md-content layout="row" >
          <span flex="5"></span>
          <div class="fm" flex layout="column" layout-align="start end" layout-align-sm="center center">
            <md-list>
              <md-list-item>
                <md-button ui-sref="home">Home</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ui-sref="about">About</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ui-sref="services">Services</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ui-sref="products">Products</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-href="http://www.mynordicsports.com.au/index.php/faq/">FAQs</md-button>
              </md-list-item>
            </md-list>
          </div>
          <span flex="5" hide-sm></span>
          <div class="fm-border">
          </div>
          <span flex="5" hide-sm></span>
          <div class="fm" flex layout="column" layout-align-sm="center center">
            <md-list>
              <md-list-item>
                <md-button ng-href="#">ENW</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-href="http://www.nordicacademy.com.au/">Nordic Academy</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-href="#">Terms of Service</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-href="#">Privacy Policy</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-href="http://chagas.co/">Built by ChagasCo</md-button>
              </md-list-item>
            </md-list>
          </div>
          <span flex="5"></span>
        </md-content>
      </footer>

    <!-- <footer class="footer">
        <md-content class="footer-content" layout="row" layout-align="center center">
        <div flex-gt-md="40" flex-sm="20" flex-md="35"></div>
            <div flex-gt-md="10" flex-sm="25" layout="column">
              <md-list class="footer-list-left">
                <md-list-item>
                  <md-button ui-sref="home">Home</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ui-sref="about">About</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ui-sref="services">Services</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ui-sref="products">Products</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ng-href="http://www.mynordicsports.com.au/index.php/faq/">FAQs</md-button>
                </md-list-item>
              </md-list>
            </div>
            <div flex="1" class="footer-divider"></div>
            <div flex-sm="45" flex-gt-sm layout="column">
              <md-list class="footer-list-right">
                <md-list-item>
                  <md-button ng-href="#">ENW</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ng-href="http://www.nordicacademy.com.au/">Nordic Academy</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ng-href="#">Terms of Service</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ng-href="#">Privacy Policy</md-button>
                </md-list-item>
                <md-list-item>
                  <md-button ng-href="http://chagas.co/">Built by ChagasCo</md-button>
                </md-list-item>
              </md-list>
            </div>
            <div flex-gt-md="0" flex-sm="5"></div>
        </md-content>
    </footer> -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/services.js"></script>
    <!-- <script src="scripts/controllers/about.js"></script> -->
    <script src="scripts/controllers/products.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/add-products.js"></script>
    <script src="scripts/services/authentication.js"></script>
    <script src="scripts/services/email.js"></script>
    <!-- endbuild -->
</body>
</html>
