footer {
  // margin-top: 32px;
  padding: 32px 64px;

}

footer,
footer md-content {
  background-color: #484848;
  color: #9B9B9B;
  transition: all ease .15s;


  .copyright {
    font-weight: 400;
    // color: #fff;
  }

  .footer-panel {
    max-width: 300px;
    width: 100%;


    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 8px 16px;
        margin-right: 16px;

        a {
          text-decoration: none;
          color: #9B9B9B;

          &:hover {
            text-decoration: underline;
          }

          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .footer-panel.left {
    border-right: 1px solid #9b9b9b;
    padding-right: 32px;
    ul li {
      text-align: right;

    }
  }

  .info {
    max-width: 300px;
    width: 100%;

    img.nordic-academy {
      max-width: 300px;
      max-height: 300px;
    }

    .contact {
      h3 {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 16px 0 0 0;
        text-align: center;
      }

      h4 {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        margin: 8px 0 0 0;
        text-align: center;
      }
    }
  }
  .footer-panel.right{
    margin-left: 32px;
  }


  @media only screen and (max-width: 968px) {
    .footer-panel {
      max-width: 100%;
    }

    .info {
      max-width: 200px;

      img.nordic-academy {
        max-width: 200px;
        max-height: 200px;
      }
    }

    .copyright {
      font-size: 14px;
    }
  }


    @media only screen and (max-width: 600px) {

      .info {
        margin-top: 32px;
        max-width: 100%;
      }

      .footer-panel.left{
        padding-right: 0px;
      }
      .footer-panel.right{
        margin-left: 0px;
      }

    }
}

@media only screen and (max-width: 968px) {
  footer {
    padding: 32px 16px;
  }
}
