<md-dialog class="order-call-cmp">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Order Product</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-padding" layout="column" layout-align="start center">
    <h1>Call Heather</h1>
    <h2>{{vm.heatherContact}}</h2>
    <br>
    <p>

    </p>
  </md-dialog-content>
</md-dialog>
