<md-dialog class="order-email-cmp" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Order Product</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="orderEmailForm" layout="column"  ng-submit="orderEmailForm.$valid && vm.orderEmailSubmit(vm.emailBody)" novalidate ng-hide="vm.displaySuccess || vm.displayError">
    <md-dialog-content class="md-padding" layout="column" ng-hide="vm.orderEmailFormValidating">

      <!-- Name -->
      <md-input-container flex md-is-error="orderEmailForm.name.$invalid && (orderEmailForm.$submitted || orderEmailForm.name.$dirty)">
        <label>Name</label>
        <input name="name" type="text" ng-model="vm.emailBody.name" ng-required="true">
        <div ng-messages="orderEmailForm.name.$error" ng-if="orderEmailForm.$submitted || orderEmailForm.name.$touched">
          <div ng-message="required">You must enter your name</div>
        </div>
      </md-input-container>

      <!-- Email -->
      <md-input-container flex md-is-error="orderEmailForm.email.$invalid && (orderEmailForm.$submitted || orderEmailForm.email.$dirty)">
        <label>Email</label>
        <input name="email" type="text" ng-model="vm.emailBody.email" ng-required="true">
        <div ng-messages="orderEmailForm.email.$error" ng-if="orderEmailForm.$submitted || orderEmailForm.email.$touched">
          <div ng-message="required">You must enter your email</div>
        </div>
      </md-input-container>

      <!-- Quantity -->
      <md-input-container flex md-is-error="orderEmailForm.quantity.$invalid && (orderEmailForm.$submitted || orderEmailForm.quantity.$dirty)">
        <label>Quantity</label>
        <input name="quantity" type="number" ng-model="vm.emailBody.quantity" ng-required="true">
        <div ng-messages="orderEmailForm.quantity.$error" ng-if="orderEmailForm.$submitted || orderEmailForm.quantity.$touched">
          <div ng-message="required">You must enter a quantity</div>
        </div>
      </md-input-container>

      <!-- Message -->
      <md-input-container flex md-is-error="orderEmailForm.message.$invalid && (orderEmailForm.$submitted || orderEmailForm.message.$dirty)">
        <label>Message (Optional)</label>
        <textarea name="message" type="text" ng-model="vm.emailBody.message" rows="10"></textarea>
      </md-input-container>
    </md-dialog-content>

    <md-dialog-content class="form-validating" ng-if="vm.orderEmailFormValidating" layout="column" layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-dialog-content>

    <md-dialog-actions ng-hide="vm.orderEmailFormValidating">
      <md-button ng-click="vm.cancel()">Cancel</md-button>
      <span flex></span>
      <md-button class="md-primary" type="submit" ng-disabled="vm.orderEmailFormValidating">Send</md-button>
    </md-dialog-actions>

  </form>

  <span  ng-if="vm.displaySuccess && !vm.displayError">
    <md-dialog-content class="success-content">
      <h1>Success!</h1>
      <h2>Thank you. </h2>
      <p>
        Your request is now in queue and will be reviewed as soon as possible.
      </p>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </span>

  <!-- Error -->
  <span ng-if="vm.displayError && !vm.displaySuccess">
    <md-dialog-content class="error-content"layout="column">
      <h1>Error</h1>
      <p>
        Unfortunately your request failed. Please try again.
      </p>
      <p>
        Alternatively, you can contact Heather at <a href="mailto:heather@essentialnordicwalking.com.au">heather@essentialnordicwalking.com.au</a>
      </p>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </span>
</md-dialog>
