<div class="container-fluid hero-about">
  <h1>About</h1>
</div>

<section class="container">
  <div class="row headings">
    <h2 class="col-sm-12">Nordic Walking</h2>
    <h3 class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
  </div>
  <div class="row content">
    <div class="col-sm-12 col-md-6">
      <p>
        Nordic Walking is relatively new to Australia but practised widely in
        Europe, the U.K. and the U.S.A. Its origins are in cross-country skiing,
        as the name suggests. It is a fitness activity utilising specially
        designed poles and a technique which activates 90% of the body’s muscles.
        It can be done on a variety of surfaces including footpaths, grass, sand
        and bush tracks.
        <br><br>
        It is suitable for people of all ages and fitness levels as well as those
        living with chronic medical conditions. Before commencing any exercise
        program, it is advisable to get the go-ahead from a medical professional.
        <br><br>
        As an instructor and regular Nordic Walker, I promote Nordic Walking as
        a way of keeping the brain healthy and reducing the risk of dementia.
        Learning Nordic Walking is simultaneously mentally, physically and socially
        stimulating. Activities that combine these 3 elements have been shown to
        be particularly beneficial for brain health.
        <br><br>
        To obtain the benefits of Nordic Walking listed below, it is important to
        learn the correct technique from a qualified instructor.
        <br><br>
      </p>
    </div>

    <div class="col-sm-12 col-md-5 col-md-offset-1">
      <img class="section-image" src="../images/cards/card1.jpg" alt="">
    </div>
  </div>
</section>

<section class="container">
  <div class="row headings">
    <h2 class="col-sm-12">Benefits</h2>
    <h3 class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
  </div>
  <div class="row content">
    <div class="col-sm-12 col-md-6">
      <p>
        Scientific research supports the following benefits from Nordic Walking using the correct technique:
        <br><br>
        <ul>
          <li>Up to 40% more calories burned compared to regular walking</li>
          <li>Up to 25% cardiovascular benefit than regular walking</li>
          <li>Improves co-ordination and balance</li>
          <li>Improves walking posture</li>
          <li>Releases pain and tension in the neck and shoulders</li>
        </ul>
        <br><br>
        To view the scientific literature, go to: <a href="www.nordicacademy.com.au">www.nordicacademy.com.au</a>
        <br><br>
      </p>
    </div>

    <div class="col-sm-12 col-md-5 col-md-offset-1">
      <img class="section-image" src="../images/cards/card2.jpg" alt="">
    </div>
  </div>
</section>


<div class="background-theme-light">
  <section class="container">
      <div class="row headings">
        <h2 class="col-sm-12">Heather Thorne</h2>
        <h3 class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      </div>
      <div class="row content">
        <div class="col-sm-12 col-md-6 col-push-right">
          <img src="../images/heather.jpg" alt="Heather">
        </div>
        <div class="col-sm-12 col-md-5">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Sed similique deserunt accusantium a rerum alias officia
            corporis modi fugiat, quibusdam iusto eligendi magni laborum
            voluptas mollitia impedit molestiae quos eius.
          </p>
          <br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Sed similique deserunt accusantium a rerum alias officia
            corporis modi fugiat, quibusdam iusto eligendi magni laborum
            voluptas mollitia impedit molestiae quos eius.
          </p>
          <br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Sed similique deserunt accusantium a rerum alias officia
            corporis modi fugiat, quibusdam iusto eligendi magni laborum
            voluptas mollitia impedit molestiae quos eius.
          </p>
        </div>
      </div>
  </section>
</div>
