<div class="hero-title">
  <h1>About</h1>
</div>

<section class="container">
  <div class="row headings">
    <h2 class="col-sm-12">Nordic Walking</h2>
    <h3 class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
  </div>
  <div class="row content">
    <div class="col-sm-12-col-md-6">
      <p>
        Nordic Walking is relatively new to Australia but practised widely in
        Europe, the U.K. and the U.S.A. Its origins are in cross-country skiing,
        as the name suggests. It is a fitness activity utilising specially
        designed poles and a technique which activates 90% of the body’s muscles.
         It can be done on a variety of surfaces including footpaths, grass, sand
         and bush tracks.
        <br><br>
        It is suitable for people of all ages and fitness levels as well as those
         living with chronic medical conditions. Before commencing any exercise
         program, it is advisable to get the go-ahead from a medical professional.
         <br><br>
        As an instructor and regular Nordic Walker, I promote Nordic Walking as
        a way of keeping the brain healthy and reducing the risk of dementia.
        Learning Nordic Walking is simultaneously mentally, physically and socially
         stimulating. Activities that combine these 3 elements have been shown to
        be particularly beneficial for brain health.
        <br><br>
        To obtain the benefits of Nordic Walking listed below, it is important to
         learn the correct technique from a qualified instructor.
      </p>
    </div>

    <div class="col-sm-12 col-md-6">
      <img src="http://www.geecol-lymphoedemaclinic.com/userimages/DSC_0873.JPG" alt="" class="img-responsive">
    </div>
</section>

  <section>
    <h2>Benefits</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
    <div class="content">
      <div class="right temp-img">..</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
    </div>
    <br class="clear">
  </section>
</div>
<div class="theme-light-bg">
  <div class="container">
    <section>
      <h2>Heather Thorne</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <div class="content">
        <div class="left temp-img-large">..</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sed similique deserunt accusantium a rerum alias officia
          corporis modi fugiat, quibusdam iusto eligendi magni laborum
          voluptas mollitia impedit molestiae quos eius.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sed similique deserunt accusantium a rerum alias officia
          corporis modi fugiat, quibusdam iusto eligendi magni laborum
          voluptas mollitia impedit molestiae quos eius.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sed similique deserunt accusantium a rerum alias officia
          corporis modi fugiat, quibusdam iusto eligendi magni laborum
          voluptas mollitia impedit molestiae quos eius.
        </p>
      <br class="clear">
    </section>
  </div>
</div>
