<div class="hero-title">
  <h1>About</h1>
</div>

<div class="container">
  <section>
    <h2>Nordic Walking</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
    <div class="content">
      <div class="right temp-img">..</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
    </div>
    <br class="clear">
  </section>
  <section>
    <h2>Benefits</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
    <div class="content">
      <div class="right temp-img">..</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed similique deserunt accusantium a rerum alias officia
        corporis modi fugiat, quibusdam iusto eligendi magni laborum
        voluptas mollitia impedit molestiae quos eius.
      </p>
    </div>
    <br class="clear">
  </section>
</div>
<div class="theme-light-bg">
  <div class="container">
    <section>
      <h2>Heather Thorne</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <div class="content">
        <div class="left temp-img-large">..</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sed similique deserunt accusantium a rerum alias officia
          corporis modi fugiat, quibusdam iusto eligendi magni laborum
          voluptas mollitia impedit molestiae quos eius.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sed similique deserunt accusantium a rerum alias officia
          corporis modi fugiat, quibusdam iusto eligendi magni laborum
          voluptas mollitia impedit molestiae quos eius.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sed similique deserunt accusantium a rerum alias officia
          corporis modi fugiat, quibusdam iusto eligendi magni laborum
          voluptas mollitia impedit molestiae quos eius.
        </p>
      <br class="clear">
    </section>
  </div>
</div>
