<!-- Title Section -->
<div class="add-products-background">
  <section class="add-products-background" layout-sm="column" layout="row">
    <div layout="row" flex>
      <md-content flex="60">
        <h1 class="heading1">PRODUCTS</h1>
      </md-content>
      
      <md-content flex-gt-sm="40" flex-sm="100">
        <md-button class="btn-purchase btn-add-product" flex>ADD PRODUCT</md-button>
      </md-content>
    </md-content>
  </section>
</div>

<!-- Product Slider Section -->
<div class="add-products-background">
  <section class="slider add-products-background" layout="column" flex>
    <md-content layout="row">
      <md-card class="product-card hoverable" ng-repeat="product in products" layout="column" flex="20" flex-sm="50" ng-click="productSelect(product, $event)">
        <img ng-src="{{product.thumb}}" alt="{{product.name}}" class="md-card-image">

        <md-card-content>
          <span class="md-subhead">{{product.manufactuer}}</span>

          <h2 class="md-title">{{product.name}}</h2>

          <span class="product-price">{{product.price | currency}}</span>
        </md-card-content>
      </md-card>
    </md-content>
  </section>
</div>

<!-- Product Display / Edit Section -->
<div class="add-products-background" layout-sm="column" layout="row">
  <section layout-sm="column" layout="row" flex-sm="100" flex-gt-sm="90" flex-offset-gt-sm="5" layout-align="center center">
    <div flex-sm="100" flex="40" layout="column">
      <h3 layout="start center" class="heading2">Thumbnail Image</h3>

      <img ng-src="{{selectedProduct.thumb}}" alt="{{selectedProduct.name}}" />
      
      <div flex="100" layout-gt-md="row" layout="column">
        <md-button class="btn-purchase" flex>UPLOAD PICTURE</md-button>

        <div hide-sm hide-md flex="10"></div>
        
        <md-button class="btn-purchase btn-remove" flex>DELETE PICTURE</md>
      </div>
    </div>

    <div layout="column" hide-sm flex-md="10" flex-gt-md="5"></div>

    <div layout="column" hide-gt-sm class="add-product-separator"></div>

    <div flex-sm="100" flex="60" layout="column">
      <div layout="row">
        <md-input-container flex="80">
          <label>Name</label>

          <input type="text" ng-model="selectedProduct.name" />
        </md-input-container>

        <md-input-container flex="20"> 
          <label>Price</label>

          <input type="number" ng-model="selectedProduct.price" min="0.01" step="any"/>
        </md-input-container>
      </div>

      <md-input-container flex>
        <label>Manufacturer</label>

        <input type="text" ng-model="selectedProduct.manufacturer" />
      </md-input-container>

      <md-input-container flex>
        <label>Description</label>

        <textarea cols="40" rows="1" ng-model="selectedProduct.description"></textarea>
      </md-input-container>

      <md-input-container layout-align="space-around end" flex-sm="100" flex="80" layout-sm="row">
        <md-button class="btn-purchase">SAVE PRODUCT</md>
      </md-input-container>
    </div>
  </section>
</div>