<!-- HERO SECTION -->
<md-content layout="column" id="hero" layout-align="center center">
  <h1 class="md-title">Essential Nordic Walking</h1>
  <h2 class="md-subhead">Take walking to the next level</h2>
</md-content>

<!-- CARD SECTION -->
<section layout="column">
  <md-content>
    <h2 class="heading1">Experience Better</h2>
    <h3 class="heading2">Professional help to get you started with Nordic Walking</h3>
  </md-content>
  <md-content layout="row" layout-sm="column" layout-margin layout-wrap>
    <md-card flex flex-md="45"  layout="column" class="hoverable enw-card" ng-repeat="card in cards" ng-click="card.navigate()">
     <img ng-src="{{card.image}}" class="md-card-image" alt="{{card.title}}">
     <md-card-content layout="column">
       <span class="md-subhead">{{card.subtitle}}</span>
       <h2 class="md-title">{{card.title}}</h2>
       <p ng-bind-html="trustAsHtml(card.content)"></p>
     </md-card-content>
   </md-card>
  </md-content>
</section>

<!-- PROMO SLIDER SECTION  -->
<flex-slider id="promo-slider" slide="i in images track by $index" animation="slide">
  <li>
    <img ng-src="{{i.image}}" alt="{{i.title}}">
    <div class="promo-content">
      <h5>{{i.title}}</h5>
      <p ng-bind-html="trustAsHtml(i.content)"></p>
    </div>
  </li>
</flex-slider>

<!-- REGISTER Section -->
<section layout="column" >
  <md-content>
    <h2 class="heading1">Register Your Interest</h2>
    <h3 class="heading2">Up for a new challenge, or interested in finding out more?</h3>
  </md-content>
  <md-content layout="column">
    <form id="registerForm" ng-submit="registerSubmit()">
      <md-input-container flex>
        <label>First name</label>
        <input ng-model="register.firstName">
      </md-input-container>
      <md-input-container flex>
        <label>Last name</label>
        <input ng-model="register.lastName">
      </md-input-container>
      <md-input-container flex>
        <label>Phone</label>
        <input ng-model="register.phoneNumber">
      </md-input-container>
      <md-input-container flex>
        <label>Prefered Phone Time</label>
        <input ng-model="register.preferedCallBack">
      </md-input-container>
      <br><br>
      <md-input-container flex>
        <md-button class="btn-submit" flex type="submit">SUBMIT</md-button>
      </md-input-container>
    </form>
  </md-content>
</section>
