<div class="hero">
  <!-- TODO: Hero img -->
</div>
<div class="container">
  <section>
    <div class="headings">
      <h2>Experience Better</h2>
      <h3>Professional help to get you started with Nordic Walking</h3>
    </div>
    <div class="card-container">
      <div class="card">

      </div>
      <div class="card">

      </div>
      <div class="card">

      </div>
    </div>
  </section>
</div>

<div class="promo-slider">
  img
</div>

<div class="container">
  <section>
    <div class="headings">
      <h2>Register Your Interest</h2>
      <h3>Up for a new challenge, or interested in finding out more?</h3>
    </div>

    <form action="#submit" method="POST">
      <label for="name">Name <span class="field-error">*</span></label>
      <br>
      <input type="text" name="name" placeholder="John Doe">
      <br>
      <label for="email">Email <span class="field-error">*</span></label>
      <br>
      <input type="email" name="email" placeholder="john.doe@example.com">
      <br>
      <label for="phone">Phone <span class="field-error">*</span></label>
      <br>
      <input type="text" name="phone" placeholder="08 XXXX XXXX">
      <br>
      <label for="time">Preferred Contact Time</label>
      <br>
      <input type="text" name="time" placeholder="Weekdays, 2PM - 4PM">
      <br><br>
      <input type="submit" name="submit" value="Submit Your Interest">
    </form>
  </section>
</div>
