<!-- HERO SECTION -->
<md-content layout="column" class="products-background">
  <h1 class="md-title">Products</h1>
</md-content>

<section layout="column" class="slider" flex>
  <md-content>
    <h2 class="heading1">Get Equipment</h2>
    <h3 class="heading2">Equipt yourself with the right gear for your next Nordic Walking session</h3>
  </md-content>
  <md-content layout="row">
    <md-card class="product-card hoverable" ng-repeat="product in products" layout="column" flex="20" flex-md="45" flex-sm="66" ng-click="productSelect(product, $event)">
      <img ng-src="{{product.thumb}}" alt="{{product.name}}" class="md-card-image">
      <md-card-content>
        <span class="md-subhead">{{product.manufactuer}}</span>
        <h2 class="md-title">{{product.name}}</h2>
        <span class="product-price">{{product.price | currency}}</span>
      </md-card-content>
    </md-card>
  </md-content>
  <br><br><br>
  <md-content flex layout="row" layout-md="column" layout-sm="column" layout-align="center center" class="select-product">
    <md-content layout="column" flex="35" flex-md="100" flex-sm="100">
      <img ng-src="{{selectedProduct.thumb}}" alt="{{selectedProduct.name}}">
      <span flex="10"></span>
      <span><strong>* Payment over the phone</strong></span>
      <span flex="5"></span>
      <md-button flex="10" class="btn-purchase" disabled>0417 943 141</md-button>
      <!-- <md-button flex="10" class="btn-purchase btn-share" ng-click="window.open('', '_blank')'">Share</md-button> -->
    </md-content>
    <md-content layout="column" flex="50" flex-md="100" flex-sm="100">
      <div layout="row" layout-align="start start">
        <span flex="1"></span>
        <h2 flex>{{selectedProduct.name}}</h2>
        <span flex hide-sm></span>
        <span flex="25" flex-md="20" class="product-price">{{selectedProduct.price | currency }}</span>
        <span flex="1"></span>
      </div>
      <br>
      <div layout="row" layout-align="start">
        <span flex="5"></span>
        <span flex class="md-subhead">{{selectedProduct.manufactuer}}</span>
      </div>
      <br>
      <div layout="row">
        <span flex="1"></span>
        <p flex ng-bind-html="trustAsHtml(selectedProduct.description)"></p>
        <span flex="1"></span>
      </div>
    </md-content>
  </md-content>
</section>
