<md-content layout="column" class="services-background">
  <h1 class="md-title">Services</h1>
</md-content>

<section layout="column">
  <md-content>
    <h2 class="heading1">Have a Go Sessions</h2>
    <h3 class="heading2">New to Nordic Walking? Join the have a go session to get started</h3>
  </md-content>
  <md-content layout="row" layout-margin>
    <div flex="45" flex-sm="100" layout="column">
      <img src="../images/na-group1.jpg" alt="Nordic Walking" style="width: 100%;">
      <br><br>
      <p>
        This is a <strong>FREE</strong> 45 minute introduction to Nordic Walking.
        Come and learn about this new fitness activity in a relaxed outdoor setting.
        Heather will explain the benefits of Nordic Walking and give you a chance to
        give it a try. Maximum group size: 100.
        <br><br>
        Things you will need:
        <br>
        <ul>
          <li>Good walking shoes</li>
        </ul>
      </p>
      <br><br>
    </div>
    <span flex="5"></span>
    <div flex="50" flex-sm="100">
      <form id="haveAGoForm" ng-submit="haveAGoSessionSubmit()" layout="column">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="haveAGoSession.name">
        </md-input-container>
        <md-input-container flex>
          <label>Email</label>
          <input ng-model="haveAGoSession.email">
        </md-input-container>
        <md-input-container flex>
          <label>Phone</label>
          <input ng-model="haveAGoSession.phone">
        </md-input-container>
        <md-input-container flex>
          <md-radio-group ng-model="haveAGoSession.hire">
            <label>Hire Equipment?</label>
            <br><br>
            <md-radio-button value="Yes">Yes</md-radio-button>
            <md-radio-button value="No">No</md-radio-button>
          </md-radio-group>
        </md-input-container>
        <br><br>
        <md-button class="btn-submit" flex type="submit" >JOIN A SESSION</md-button>
      </form>
    </div>
  </md-content>
</section>

<div class="services-classes-background">
  <section class="slider" layout="column">
    <md-content>
      <h2 class="heading1">Range of Classes</h2>
      <h3 class="heading2">Participate in a group class or special sessions</h3>
    </md-content>
    <md-content layout="row">
      <md-card class="walk-class" ng-repeat="class in classes" layout="column" flex="40" flex-sm="85">
        <img ng-src="{{class.thumb}}" class="md-card-image" alt="{{class.name}}">
        <md-card-content>
          <h2 class="md-title">{{class.name}}</h2>
          <p>
            {{class.content}}
          </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center end" flex>
          <md-button class="class-btn" flex ng-click="itemSliderClick(class, $event)">Select Class</md-button>
        </div>
      </md-card>
    </md-content>
  </section>
  <md-content>
    <h2 class="heading1">Booking</h2>
  </md-content>
  <br><br>
  <section>
  <md-content layout="column" layout-margin layout-wrap>
    <form id="classesForm" ng-submit="classesSubmit()" layout="column">
      <md-content layout="row">
        <md-content flex="45" flex-sm="100" layout="column">
          <md-input-container >
            <label>Selected Class</label>
            <input type="text" ng-model="classesFormData.class.name" readonly>
          </md-input-container>
          <md-input-container >
            <label>Name</label>
            <input type="text" ng-model="classesFormData.name">
          </md-input-container>
          <md-input-container >
            <label>Email</label>
            <input type="email" ng-model="classesFormData.email">
          </md-input-container>
          <md-input-container >
            <label>Phone</label>
            <input type="text" ng-model="classesFormData.phone">
          </md-input-container>
        </md-content>
        <span flex></span>
        <md-content flex="45" flex-sm="100" layout="column">
          <md-input-container >
            <md-radio-group ng-model="classesFormData.equipment">
              <label>Enquire about Equipment?</label>
              <br><br>
              <md-radio-button value="Yes">Yes</md-radio-button>
              <md-radio-button value="No">No</md-radio-button>
            </md-radio-group>
          </md-input-container>
          <div id="attendees-container">
            <md-input-container  ng-repeat="a in range(classesFormData.class.attendees.length) track by $index">
              <label>Attendees {{$index + 1}}</label>
              <input type="text" ng-model="classesFormData.attendees[$index].name" >
            </md-input-container>
          </div>
        </md-content>
      </md-content>
      <br><br>
      <md-content layout-align="space-between center" layout="row">
        <span flex></span>
        <md-button class="btn-submit" flex="45"  type="submit" >BOOK CLASS</md-button>
        <span flex></span>
      </md-content>
    </form>
  </md-content>
  </section>
</div>

<div class="services-presentation-background">
<section layout="column">
  <md-content>
    <h2 class="heading1">Presentations</h2>
    <h3 class="heading2">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
  </md-content>
  <md-content layout="row" layout-margin>
    <div flex="50" flex-sm="100">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit, beatae.
        Animi voluptatum quae tempore nam cupiditate placeat molestias iste aut. Fugiat
        eveniet, praesentium similique temporibus reiciendis natus nihil magni!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit, beatae.
        Animi voluptatum quae tempore nam cupiditate placeat molestias iste aut. Fugiat
        eveniet, praesentium similique temporibus reiciendis natus nihil magni!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odit, beatae.
        Animi voluptatum quae tempore nam cupiditate placeat molestias iste aut. Fugiat
        eveniet, praesentium similique temporibus reiciendis natus nihil magni!

      </p>
    </div>
    <span flex="5"></span>
    <div flex="45" flex-sm="100">
      <img src="../images/cards/card1.jpg" alt="Nordic Walking" style="width: 100%;">
    </div>
  </md-content>
</section>
</div>
