<!-- HERO SECTION -->
<md-content layout="column" class="services-background">
  <h1 class="md-title">Services</h1>
</md-content>

<!-- HAVE A GO SECTION -->
<section layout="column" >
  <md-content>
    <h2 class="heading1">Have a Go Session</h2>
    <h3 class="heading2">New to Nordic Walking? Join the Have a Go Session to get started</h3>
  </md-content>
  <md-content layout="row" layout-sm="column" layout-margin layout-fill>
    <div flex="45" flex-sm="100" layout="column">
      <span flex="5"></span>
      <img src="../images/nordic-senior2.jpg" alt="Nordic Walking - Senior Walker Participant" flex="70">
      <br>
      <p>
        This is a <strong>FREE</strong> 45 minute introduction to Nordic Walking.
        Come and learn about this new fitness activity in a relaxed outdoor setting.
        Heather will explain the benefits of Nordic Walking and give you a chance to
        give it a try. Maximum group size: 10.
        <br><br>
        Things you will need:
        <br>
        <ul>
          <li>Good walking shoes</li>
        </ul>
      </p>
    </div>
    <span flex="5"></span>
    <div flex="50" flex-sm="100" layout="column" layout-fill>
      <form id="haveAGoForm" name="haveAGoForm" layout="column" ng-submit="haveAGoForm.$valid && haveAGoSessionSubmit()" novalidate>
        <md-input-container flex md-is-error="haveAGoForm.goName.$invalid && (haveAGoForm.$submitted || haveAGoForm.goName.$dirty)">
          <label>Name</label>
          <input name="goName" id="goName" type="text" ng-model="haveAGoSession.name" ng-required="true">
          <div ng-messages="haveAGoForm.goName.$error" ng-if="haveAGoForm.$submitted || haveAGoForm.goName.$touched">
            <div ng-message="required">Please enter your name</div>
          </div>
        </md-input-container>
        <md-input-container flex md-is-error="haveAGoForm.goEmail.$invalid && (haveAGoForm.$submitted || haveAGoForm.goEmail.$dirty)">
          <label>Email</label>
          <input name="goEmail" id="goEmail" type="email" ng-model="haveAGoSession.email" ng-required="true">
          <div ng-messages="haveAGoForm.goEmail.$error" ng-if="haveAGoForm.$submitted || haveAGoForm.goEmail.$touched">
            <div ng-message="required">Please enter your email</div>
          </div>
        </md-input-container>
        <md-input-container flex md-is-error="haveAGoForm.goPhone.$invalid && (haveAGoForm.$submitted || haveAGoForm.goPhone.$dirty)">
          <label>Phone</label>
          <input name="goPhone" id="goPhone" type="text" ng-model="haveAGoSession.phone" ng-required="true">
          <div ng-messages="haveAGoForm.goPhone.$error" ng-if="haveAGoForm.$submitted || haveAGoForm.goPhone.$touched">
            <div ng-message="required">Please enter your phone number</div>
          </div>
        </md-input-container>
        <br><br>
        <md-button class="btn-submit" flex type="submit" ng-disabled="haveAGoFormProcessing">SEND ENQUIRY</md-button>
        <md-content id="haveAGoToast" layout="column"></md-content>
      </form>
    </div>
  </md-content>
</section>

<!-- CLASSES SECTION -->
<div class="services-classes-background min-padding-sides" layout="column" >
    <md-content layout="column" layout-fill>
      <h2 class="heading1">Range of Classes</h2>
      <h3 class="heading2">Participate in a group class or special sessions</h3>
    </md-content>
    <md-content layout="row" layout-margin layout-fill>
      <md-card class="walk-class" ng-repeat="class in classes" layout="column" flex="40" flex-sm="85">
        <img ng-src="{{class.thumb}}" class="md-card-image" alt="{{class.name}}">
        <md-card-content>
          <h2 class="md-title">{{class.name}}</h2>
          <p ng-bind-html="trustAsHtml(class.content)"></p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center end" flex>
          <md-button ng-class="{true:'active', false:''}[$index == 0]" class="class-btn" flex ng-click="itemSliderClick(class, $event)">
            <span ng-if="$index !== 0">Select Class</span>
            <span ng-if="$index === 0">Selected</span>
          </md-button>
        </div>
      </md-card>
    </md-content>
    <br><br>
  <md-content>
    <h2 class="heading1">Booking</h2>
  </md-content>
  <br><br>
  <section class="no-padding" layout="column" layout-align="center center">
    <form id="classesForm" name="classesForm" layout="column" ng-submit="classesForm.$valid && classesSubmit()" novalidate>
      <md-content layout="column">
        <md-input-container md-is-error="classesForm.className.$invalid && (classesForm.$submitted || classesForm.className.$dirty)">
          <label>Selected Class</label>
          <input name="className" id="className"  type="text" ng-model="classesFormData.class" readonly ng-required="true">
          <div ng-messages="classesForm.className.$error" ng-if="classesForm.$submitted || classesForm.className.$touched">
            <div ng-message="required">Please select a class above</div>
          </div>
        </md-input-container>
        <md-input-container md-is-error="classesForm.classBookingName.$invalid && (classesForm.$submitted || classesForm.classBookingName.$dirty)">
          <label>Name</label>
          <input type="text" name="classBookingName" id="classBookingName" ng-model="classesFormData.name"  ng-required="true">
          <div ng-messages="classesForm.classBookingName.$error" ng-if="classesForm.$submitted || classesForm.classBookingName.$touched">
            <div ng-message="required">Please enter your name</div>
          </div>
        </md-input-container>
        <md-input-container md-is-error="classesForm.classBookingEmail.$invalid && (classesForm.$submitted || classesForm.classBookingEmail.$dirty)">
          <label>Email</label>
          <input type="email" name="classBookingEmail" id="classBookingEmail" ng-model="classesFormData.email"  ng-required="true">
          <div ng-messages="classesForm.classBookingEmail.$error" ng-if="classesForm.$submitted || classesForm.classBookingEmail.$touched">
            <div ng-message="required">Please enter your email</div>
          </div>
        </md-input-container>
        <md-input-container md-is-error="classesForm.classBookingPhone.$invalid && (classesForm.$submitted || classesForm.classBookingPhone.$dirty)">
          <label>Phone</label>
          <input name="classBookingPhone" id="classBookingPhone" type="text" ng-model="classesFormData.phone"  ng-required="true">
          <div ng-messages="classesForm.classBookingPhone.$error" ng-if="classesForm.$submitted || classesForm.classBookingPhone.$touched">
            <div ng-message="required">Please enter your phone number</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container>
          <md-radio-group name="classBookingEquipment" id="classBookingEquipment" ng-model="classesFormData.equipment" >
            <label>Hire Equipment?</label>
            <br><br>
            <md-radio-button value="Yes">Yes</md-radio-button>
            <md-radio-button value="No">No</md-radio-button>
          </md-radio-group>
        </md-input-container>
      </md-content>
      <md-content layout-align="space-between center" layout="row">
        <md-button flex class="btn-submit" type="submit" ng-disabled="classesFormProcessing">SEND ENQUIRY</md-button>
      </md-content>
    </form>
    <md-content id="classesToast" layout="column"></md-content>
  </md-content>
</div>

<!-- PRESENTATION SECTION -->
<section layout="column">
  <md-content>
    <h2 class="heading1">Presentations</h2>
    <h3 class="heading2">Seeking speakers for a presentation or conference? Let's get in touch</h3>
  </md-content>
  <md-content layout="row" layout-sm="column" layout-margin layout-fill>
    <md-content flex="50" flex-sm="100">
      <p>
        Presentations are suitable for Service Clubs and Social Groups and it is free of charge.
        I offer 30 minute presentations on the general background of Nordic Walking and
        the benefits Nordic Walking can have on your physcial and mental health.
      </p>
      <p>
        Contact me today to find out more about presentations and what I offer.
        <br><br>
        Enter your detials in the form provided and I will contact you back via phone or email.
      </p>
    </md-content>
    <span flex="5" hide-sm></span>
    <md-content flex flex-sm="100" layout="column">
      <form name="presentationForm" id="presentationForm" flex layout="column" ng-submit="presentationForm.$valid && presentationSubmit()" novalidate>
        <md-content layout="column">
          <md-input-container md-is-error="presentationForm.presentationName.$invalid && (presentationForm.$submitted || presentationForm.presentationName.$dirty)">
            <label>Name</label>
            <input name="presentationName" id="presentationName" type="text" ng-model="presentation.name" ng-required="true">
            <div ng-messages="presentationForm.presentationName.$error" ng-if="presentationForm.$submitted || presentationForm.presentationName.$touched">
              <div ng-message="required">Please enter your name</div>
            </div>
          </md-input-container>
          <md-input-container md-is-error="presentationForm.presentationOrganisationName.$invalid && (presentationForm.$submitted || presentationForm.presentationOrganisationName.$dirty)">
            <label>Organisation Name</label>
            <input name="presentationOrganisationName" id="presentationOrganisationName" type="text" ng-model="presentation.organisationName" ng-required="true">
            <div ng-messages="presentationForm.presentationOrganisationName.$error" ng-if="presentationForm.$submitted || presentationForm.presentationOrganisationName.$touched">
              <div ng-message="required">Please enter your organisation name</div>
            </div>
          </md-input-container>
          <md-input-container md-is-error="presentationForm.presentationEmail.$invalid && (presentationForm.$submitted || presentationForm.presentationEmail.$dirty)">
            <label>Email</label>
            <input name="presentationEmail" id="presentationEmail" type="email" ng-model="presentation.email" ng-required="true">
            <div ng-messages="presentationForm.presentationEmail.$error" ng-if="presentationForm.$submitted || presentationForm.presentationEmail.$touched">
              <div ng-message="required">Please enter your email</div>
            </div>
          </md-input-container>
          <md-input-container md-is-error="presentationForm.presentationPhone.$invalid && (presentationForm.$submitted || presentationForm.presentationPhone.$dirty)">
            <label>Phone</label>
            <input name="presentationPhone" id="presentationPhone" type="text" ng-model="presentation.phone" ng-required="true">
            <div ng-messages="presentationForm.presentationPhone.$error" ng-if="presentationForm.$submitted || presentationForm.presentationPhone.$touched">
              <div ng-message="required">Please enter your phone number</div>
            </div>
          </md-input-container>
          <br>
          <md-content layout-align="space-between center" layout="row">
            <md-button flex class="btn-submit" type="submit" ng-disabled="presentationFormProcessing">SEND ENQUIRY</md-button>
          </md-content>
        </md-content>
      </form>
      <md-content id="presentationToast" layout="column"></md-content>
    </md-content>
  </md-content>
</section>
